AWILIX_CONTROLLERS=controllers/**/*.ts
CLICKHOUSE_URL=http://localhost:8123
CLICKHOUSE_DATABASE=telemetry
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
PORT=3333
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
LOG_LEVEL=info
LIMIT_ITEM_QUEUE_DEFAULT=1000
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=password
PG_DATABASE=telemetry
SECRET_JWT=change-this-secret-before-production
URL_ABACATE_PAY=https://api.abacatepay.com/v1
TOKEN_ABACATE_PAY=
DEFAULT_LIMIT_REGISTERS_FREE_PLAN=5000
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me
